.winners {
  margin-bottom: 60px;
}

.winners-table {
  border-spacing: 0;
}

.winners-table thead {
  background-color: royalblue;
}

.winners-table th,
.winners-table td {
  padding: 5px;
}

.winners-table .sort-btn {
  padding-right: 15px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 40%;
    right: 5px;
    width: 7px;
    height: 5px;
  }
}

.DESC {
  &::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
}

.ASC {
  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
}